version: "3.9"

services:
  inventory-service:
    build: ./inventory-service
    ports:
      - "8001:8000"

  order-service:
    build: ./order-service
    ports:
      - "8002:8000"

  payment-service:
    build: ./payment-service
    ports:
      - "8003:8000"

  notification-service:
    build: ./notification-service
    ports:
      - "8004:8000"
